.app-download {
    
    color: #2c3e50;
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 40px auto;
  }
  
  .app-download p {
    font-size: 24px; /* Larger font size */
    font-weight: bold; /* Bold text */
    line-height: 1.5;
    margin-bottom: 30px;
    padding: 10px; /* Padding inside the paragraph */
   
    border-radius: 5px; /* Rounded corners for the border */
    display: inline-block; /* Make the border wrap the content tightly */
    background-color: #ffffff; /* Optional: Background color for contrast */
  }
  
  .app-download-platforms {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .app-download-platforms img {
    width: 150px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .app-download-platforms img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 768px) {
    .app-download p {
      font-size: 20px; /* Adjust font size for smaller screens */
    }
  
    .app-download-platforms img {
      width: 120px; /* Adjust icon size for smaller screens */
    }
  }
  